page-modal-info {
.container {
    background-color: #ddffdd!important;
}
h4{
	color: #000;
    padding-left: 15px;
}
p{
	padding-left: 15px;
}
.thisIsRed{
	color: red;
}
.thisIsGreen{
	color:green;
}
.thisIsBlue{
	color: blue;
}
}
