page-second {
	
	.inputRow{
		padding-left: 1px !important;
	}
	ion-label{
		font-size: 130% !important;
	}
	ion-input{
		font-size: 140% !important;
	}
	.thisIsRed{
		color: red !important;
	}
	.thisIsGreen{
		color: green !important;
	}
	.thisIsBlue{
		color: blue !important;
	}
}
